<!DOCTYPE html>
  <html>
    <head><meta charset="utf-8">
      <title>Angel Project</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Courgette|Noticia+Text" rel="stylesheet">
      <link rel="stylesheet" src="">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
<!-- Material form register -->
<form>
        <p class="h4 text-center mb-4">Sign up</p>
    
        <!-- Material input text -->
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="materialFormRegisterNameEx" class="form-control">
            <label for="materialFormRegisterNameEx">Your name</label>
        </div>
    
        <!-- Material input email -->
        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="materialFormRegisterEmailEx" class="form-control">
            <label for="materialFormRegisterEmailEx">Your email</label>
        </div>
    
        <!-- Material input email -->
        <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="email" id="materialFormRegisterConfirmEx" class="form-control">
            <label for="materialFormRegisterConfirmEx">Confirm your email</label>
        </div>
    
        <!-- Material input password -->
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="materialFormRegisterPasswordEx" class="form-control">
            <label for="materialFormRegisterPasswordEx">Your password</label>
        </div>
    
        <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
    <!-- Material form register -->
    </body>
</html>