<html>
<meta content='width=device-width, initial-scale=1' name='viewport'/>
<title>Terms and conditions applied</title>
<body>
<h2>Consent form</h2>
<p>This is a consent requesting you to participate in a questionnaire that is originally devised and conducted by _________ team. The purpose of this test is to understand distress level and emotional vulnerability that an individual possess and to able to help them in best possible way.
The questionnaire is a multiple choice, subjective and a detailed questionnaire. The client or an individual taking this questionnaire is requested to answer the following accordingly with an approximate time of 15mins. This is a voluntary process and the individual is free to participate and withdraw if they feel the need for it.
Your identity will be kept confidential and your information will be assigned a code number that is unique to this application. If severe level of distress is found in an individual, the concerned guardian will be informed and further references will be made accordingly.
The responses to the questionnaire could be used for further research purposes while maintaining individual’s anonymity.
Please indicate that you have understood the nature and purpose of this test
Have you given your consent to participate in this test?</p>

<h2>Terms and conditions applied</h2>
<p>If the case is severe and if the case requires thorough attention, we may refer to a specialised professional and also the guardian will be informed whose emergency contact details are provided.
The information can be assessed only by the team and all data will be kept locked in a secure file.
When the data have been analysed for research purposes, the findings will be presented only in summary form and your name and other identity related details will not be disclosed in any report.
The participation in this test is completely voluntary. If you choose not to participate in this test, this will have no effect on the services or benefits you are currently receiving through the application. 
The participant may withdraw from the test at any time without consequences. No services will be deactivated if you choose not to finish the test. 
Risks involved in participation
Certain statements in the questionnaire may act as emotional triggers. Some may feel discomfort while answering a few questions. 
Benefits of participating
It helps the participant to gauge one’s own mental health status. A personal report will be generated according to the responses provided.</p>
</body>
</html>